@import "tailwindcss";

@theme inline {
  --font-fascinate: var(--font-fascinate);
  --font-sofia: var(--font-sofia);
}

@theme {
  --color-accent: #7eb6ac;
  --color-accent-highlight: #5fb0a2;
  --color-background: #161617;
}
