@import "tailwindcss";

@theme inline {
  --font-fascinate: var(--font-fascinate);
  --font-playfair: var(--font-playfair);
  --font-potta-one: var(--font-potta-one);
  --font-sofia: var(--font-sofia);
}

@theme {
  --color-accent: #2518b8;
  --color-accent-highlight: #2e1ee3;
  --color-background: #161617;
  --color-background-highlight: #1f1f21;
  --color-tooltip: #2b2b2e;
  --color-frieren: #f4f788;
}
